@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23000'/%3E%3C/svg%3E") 10 10, auto;
}

a, button, [role="button"] {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23000'/%3E%3C/svg%3E") 8 8, auto;
}

body {
  overscroll-behavior-y: none;
  font-size: 14px;
}

th {
  @apply font-medium;
}

 @screen md {

  body {
    font-size: 16px;
  }

  .text-sm {
    font-size: 12px;
    line-height: 1.2;
  }

  .text-md {
    font-size: 20px;
    line-height: 1.2;
  }
  .text-lg {
    font-size: 32px;
    line-height: 1.2;
  }
}

