@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: image-set(
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23000'/%3E%3C/svg%3E") 1x,
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Ccircle cx='16' cy='16' r='8' fill='%23000'/%3E%3C/svg%3E") 2x
  ) 4 4, auto;
}

:focus-visible {
  @apply outline-grey;
}

a, button, [role="button"],
a:active, button:active, [role="button"]:active {
  cursor: image-set(
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23000'/%3E%3C/svg%3E") 1x,
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Ccircle cx='16' cy='16' r='8' fill='%23000'/%3E%3C/svg%3E") 2x
  ) 4 4, auto;

  &:hover {
    @apply text-grey;
  }

  &:active {
    @apply text-black;
  }
}


body {
  overscroll-behavior-y: none;
  font-size: 14px;
}

th {
  @apply font-medium;
}

 @screen md {

  body {
    font-size: 16px;
  }

  .text-sm {
    font-size: 12px;
    line-height: 1.2;
  }

  .text-md {
    font-size: 20px;
    line-height: 1.2;
  }

  .text-lg {
    font-size: 32px;
    line-height: 1.2;
  }
}

